title: Behaviour Discounts
description: Documentation site for the Behaviour Discounts project.
remote_theme: just-the-docs/just-the-docs
search_enabled: true
heading_anchors: true
color_scheme: light

markdown: kramdown

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor

defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: default
